<a href="https://colab.research.google.com/github/Pritishcoder07/AIMLP/blob/main/Basic_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# NUMPY

#  Array Creation with Numpy

**Conversion from other Python structures (e.g., lists, tuples)**

In [1]:
import numpy as np

In [2]:
listarray = np.array([[1,2,3],[4,5,6],[7,8,9]])

In [3]:
listarray

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [4]:
listarray.shape

(3, 3)

In [5]:
listarray.dtype

dtype('int64')

In [6]:
listarray[0,1]=10

In [7]:
listarray

array([[ 1, 10,  3],
       [ 4,  5,  6],
       [ 7,  8,  9]])

In [8]:
listarray.size

9

In [9]:
Heloo = np.array([[1,2,8,7,6,50,56]])

In [10]:
Heloo[0,1]=55

In [11]:
Heloo

array([[ 1, 55,  8,  7,  6, 50, 56]])

**Intrinsic numpy array array creation objects (e.g., arange, ones, zeros, etc.)**

In [12]:
zeros = np.zeros([2,15])

In [13]:
zeros

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [14]:
range =np.arange(20)

In [15]:
range

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [16]:
lspace = np.linspace(1,5,12)
lspace

array([1.        , 1.36363636, 1.72727273, 2.09090909, 2.45454545,
       2.81818182, 3.18181818, 3.54545455, 3.90909091, 4.27272727,
       4.63636364, 5.        ])

** BASICS ML ATTRIBUTE **

In [17]:
arr = ([1,2,3],[4,5,6],[7,8,9])
arr

([1, 2, 3], [4, 5, 6], [7, 8, 9])

In [18]:
arr2 = np.array(arr)

In [19]:
arr2

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [20]:
arr2.sum(axis=0)

array([12, 15, 18])

In [21]:
arr2.sum(axis=1)

array([ 6, 15, 24])

In [22]:
arr2.argmax()

np.int64(8)

In [23]:
arr2.argmin()

np.int64(0)

In [24]:
arr2.argsort()

array([[0, 1, 2],
       [0, 1, 2],
       [0, 1, 2]])

In [25]:
arr2.T

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])

In [26]:
arr2.ravel()

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [27]:
arr2.reshape((9,1))

array([[1],
       [2],
       [3],
       [4],
       [5],
       [6],
       [7],
       [8],
       [9]])

In [28]:
total =listarray+arr2

In [29]:
total

array([[ 2, 12,  6],
       [ 8, 10, 12],
       [14, 16, 18]])

In [30]:
total2 =total *2
total2

array([[ 4, 24, 12],
       [16, 20, 24],
       [28, 32, 36]])

In [31]:
np.sqrt(total2)

array([[2.        , 4.89897949, 3.46410162],
       [4.        , 4.47213595, 4.89897949],
       [5.29150262, 5.65685425, 6.        ]])

# PANDAS

In [32]:
import pandas as pd

In [33]:
dict1 ={
    "name":['harry','rohan','skillf','shubh'],
    "marks":[92,34,24,30],
    "city":['rampur','kolkata','bareilly','antartica']
}

In [34]:
df = pd.DataFrame(dict1)
df

     name  marks       city
0   harry     92     rampur
1   rohan     34    kolkata
2  skillf     24   bareilly
3   shubh     30  antartica

In [35]:
df.to_csv('hello.csv')

In [36]:
df.to_csv('friends.csv',index=False)

In [37]:
df.head(1)

    name  marks    city
0  harry     92  rampur

In [38]:
df.tail(2)

     name  marks       city
2  skillf     24   bareilly
3   shubh     30  antartica

In [39]:
df.describe()

           marks
count   4.000000
mean   45.000000
std    31.601688
min    24.000000
25%    28.500000
50%    32.000000
75%    48.500000
max    92.000000

In [40]:
newdf = pd.DataFrame(np.random.rand(10000))

In [41]:
type(newdf)

pandas.core.frame.DataFrame

In [42]:
newdf.dtypes

0    float64
dtype: object

In [43]:
newdf

             0
0     0.320189
1     0.313515
2     0.334941
3     0.936936
4     0.400699
...        ...
9995  0.894752
9996  0.118426
9997  0.691125
9998  0.964525
9999  0.797353

[10000 rows x 1 columns]

# DATA CLEANING

In [44]:
import pandas as pd

In [45]:
from google.colab import files
upload  = files.upload()

Saving dirty_dataset_1000.csv to dirty_dataset_1000.csv

In [46]:
messdata = pd.read_csv('dirty_dataset_1000.csv')

In [47]:
messdata

,Name,Age,Gender,City,Salary,Date,Phone,Marks,Passed
0,Deborah Anderson,200,Male,Mumbai,82481,2021-04-16,NaN,30.0,NaN
1,NaN,16,Male,Bhopal,50k,2024-01-09,NaN,-20.0,Yes
2,James Liu,twenty,Female,Delhi,90438,2023-02-10,651-509-7684x87571,150.0,True
3,Aaron Ford,200,NaN,Bhopal,-inf,2024-11-07,0002108269,-20.0,Yes
4,Andrea Mercer,0,NaN,Nagpur,62322,2023-08-05,0006512234,NaN,No
...,...,...,...,...,...,...,...,...,...
1015,Robert Gibbs,19,Female,Bhopal,32982,2021-08-29,0005006861,NaN,True
1016,Steven Peck,200,Male,Nagpur,inf,2021-07-16,NaN,NaN,Yes
1017,Steve Munoz,twenty,NaN,Bhopal,-inf,32-13-2020,NaN,45.0,False
1018,Zoe Black,NaN,F,NaN,69566,2023-11-29,NaN,NaN,False
1019,Benjamin West,NaN,Male,NaN,NaN,2023-10-14,NaN,92.0,NaN

In [48]:
messdata.head(10)

,Name,Age,Gender,City,Salary,Date,Phone,Marks,Passed
0,Deborah Anderson,200,Male,Mumbai,82481,2021-04-16,NaN,30.0,NaN
1,NaN,16,Male,Bhopal,50k,2024-01-09,NaN,-20.0,Yes
2,James Liu,twenty,Female,Delhi,90438,2023-02-10,651-509-7684x87571,150.0,True
3,Aaron Ford,200,NaN,Bhopal,-inf,2024-11-07,0002108269,-20.0,Yes
4,Andrea Mercer,0,NaN,Nagpur,62322,2023-08-05,0006512234,NaN,No
5,Anthony Cruz,200,F,Bhopal,inf,2024-12-16,0001672450,1.0,True
6,Hannah Dixon,NaN,NaN,Nagpur,-inf,2024-12-13,(834)239-1491x362,-20.0,No
7,Jennifer Hayden,NaN,NaN,Bhopal,NaN,2025-10-02,NaN,NaN,Yes
8,Daniel Thomas,twenty,Male,Raipur,inf,2022-12-14,(708)542-0995,-20.0,No
9,Sean Guzman,NaN,M,Mumbai,98541,2023-12-27,NaN,NaN,NaN

In [49]:
messdata.isnull().sum()*100/len(messdata)

Name       5.588235
Age       24.607843
Gender    31.666667
City      24.803922
Salary    19.215686
Date       0.000000
Phone     52.647059
Marks     26.176471
Passed    35.980392
dtype: float64

In [50]:
messdata['Name'].unique()

array(['Deborah Anderson', nan, 'James Liu', 'Aaron Ford',
       'Andrea Mercer', 'Anthony Cruz', 'Hannah Dixon', 'Jennifer Hayden',
       'Daniel Thomas', 'Sean Guzman', 'Raymond Lara', 'John Brown',
       'Mr. Dennis Benjamin', 'Susan Chandler', 'Kimberly King',
       'Robert Gibbs', 'Steven Peck', 'Steve Munoz', 'Zoe Black',
       'Benjamin West', 'Jeffrey Munoz', 'Ariel Perez', 'Zachary Garcia',
       'Kimberly Terrell', 'Gary Chapman', 'Tiffany Webster',
       'Mrs. Misty Bryan', 'Chelsey Neal', 'Ashley White', 'Jane Evans',
       'Travis Scott', 'Samantha Miller', 'Linda Marshall DVM',
       'Ivan Adams', 'Alison Hill', 'Gerald Molina', 'Laura Glover',
       'James Johns', 'Todd Harris', 'David Cohen', 'Joseph Thomas',
       'Stephen Peck', 'Denise Baker', 'Andrew Roberts', 'Angela Gibson',
       'Alyssa Lawrence', 'Sarah Pearson', 'Brandy Clark',
       'Daisy Jackson', 'Jason Hunter', 'Andre Dixon', 'Amanda Baker',
       'Ruben Wilson', 'Candice Meyers', 'Elizabeth Williams',
       'Justin Rodriguez', 'Sierra Garcia', 'Nicole Brown',
       'Andrew Arroyo', 'Benjamin Moore', 'Deborah Freeman',
       'Jerry Strickland', 'Monica Cruz', 'Jennifer Fernandez',
       'Roberto Alexander', 'Michaela Sanchez', 'Kathleen Arroyo',
       'Emily Ortega', 'Sheryl Noble', 'Katherine Christensen',
       'Lauren Collins', 'Mrs. Jessica Ross', 'Shannon West',
       'Erin Sullivan', 'Tammy Jordan', 'Travis Taylor', 'Roy Adkins',
       'Wanda Parker', 'Crystal Cox', 'Bradley Lewis', 'Victor Farrell',
       'Kimberly Fisher', 'Scott Obrien', 'Brittany Shields',
       'Nicholas Huffman', 'Mark Richards', 'Stephanie Hunter',
       'Michael Harper', 'Jason Anderson', 'Amy Hudson', 'Alyssa Webb',
       'Elizabeth Adkins', 'Mathew Lindsey', 'Jose Lambert',
       'David Arnold', 'Melissa Bates', 'Susan Duffy', 'Todd Ramirez',
       'Amber Nelson', 'Brenda Espinoza', 'Patricia Brown', 'Carol Ortiz',
       'Brenda Weber', 'Stephanie Jackson', 'Rachel Collins',
       'Rebecca Owens', 'Daisy Reed', 'Robert Price', 'Kimberly Odom',
       'Ariel Bender', 'Mario Powell MD', 'Anna Lewis', 'Adam Baker',
       'Michael Peterson', 'Ana English', 'Debra Howell',
       'Mr. Daniel Bryant DDS', 'Amanda Gibson', 'Jeffery Taylor',
       'Erica Carpenter', 'Emily Sullivan MD', 'Leslie Sampson',
       'Mrs. Tammy Rivers', 'Elizabeth Walter', 'William Gomez',
       'Nicholas Allen', 'Eric Oneal', 'Thomas Young', 'Daniel Ramirez',
       'William Green', 'Kaylee Evans', 'Crystal Harris', 'Amanda Smith',
       'Gwendolyn Thomas', 'Vincent Beck', 'Linda Bailey',
       'Tiffany Roberts', 'Keith Scott', 'Julie Anderson',
       'Anthony Richards', 'Angela Flores', 'James Hall',
       'Steven Collier', 'Kerry Rojas', 'Marc Thomas', 'Brenda Smith',
       'Patrick Harris', 'Adam Rodriguez', 'Maurice Murray',
       'Kimberly Patterson', 'Kurt Singleton', 'Robin Smith',
       'Christopher Briggs', 'James Green', 'Grant Roberson',
       'Stephen Adams', 'Nancy Gilbert', 'Nicole Garcia',
       'William Newman', 'Diana Berg', 'Madison Tanner',
       'Carolyn Harding', 'Christopher Richardson', 'Michael Jones',
       'Jason Cook', 'Laura Mcfarland', 'Donald Alvarez',
       'Christopher Price', 'Kimberly Salazar', 'Jennifer Vargas',
       'Nancy Ingram', 'Pam Wilson', 'Cathy Norman', 'Jennifer Nguyen',
       'Cody Green', 'Jordan Bell', 'Brittany Harvey', 'Mary Martin',
       'Sherry Garcia', 'Anita Mendez', 'Michael Harmon', 'Jessica Rowe',
       'Joshua Shea', 'Keith Todd', 'Catherine Frederick DDS',
       'Michael Calhoun', 'Joshua Savage', 'Brenda Braun', 'Nicole Lynch',
       'Jesse Pearson', 'Angela Kelly', 'Joshua Jones', 'David Camacho',
       'Teresa Baker', 'Dylan Hamilton', 'Adam Jefferson',
       'Kimberly Lopez', 'Robin Bradley', 'Lorraine Willis', 'Tina Perez',
       'Julie Delacruz', 'Aaron Wallace', 'Jennifer Liu',
       'Richard Roberts', 'Nicole Hall', 'William Johnson',
       'Harold Caldwell', 'Catherine Brown', 'Timothy Farmer',
       'Bryce Price', 'Angela Taylor', 'Michael Hughes', 'Mark Butler',
       'Allison Williams', 'Andrew Burns', 'Connie Contreras',
       'Christopher Mahoney', 'Jennifer Bennett', 'Andrew Jones',
       'Stuart Haley', 'Kenneth Logan', 'Justin Ortiz', 'Ronald Wilson',
       'Gary Bradley', 'Susan Bradley', 'John Mckenzie', 'Stacy Brown',
       'John Sellers', 'Justin Warren', 'Mathew Gonzalez',
       'Jeffrey Graham', 'Kristen Cohen', 'Christopher Quinn Jr.',
       'Robert Reynolds', 'Karen Lee', 'Terry Wallace',
       'Mr. Jason Anderson II', 'James Mathis', 'Nicholas Green',
       'Ryan Mercer', 'Tracy Hall', 'Cory Alvarez', 'Tami Henderson',
       'Joan Scott', 'Edward Young', 'Michael Wilson', 'Tiffany Cooper',
       'Barbara Smith', 'Benjamin Manning', 'Rodney Simon',
       'William Mccarthy', 'Corey Garcia', 'Mark Walsh', 'Mark Hall',
       'Rebecca Weber', 'Donna Blankenship MD', 'Michael Johnson',
       'Joseph Rodriguez', 'Frank Smith', 'Angel Oneal', 'Jesse Burton',
       'Dr. Nicole Gonzales', 'Cheyenne Hardin', 'Gina Heath',
       'Lori Anderson', 'Brad Patel', 'Jorge Glover', 'Katie Smith',
       'Taylor Johnson', 'Nancy Robinson', 'Danielle Forbes',
       'Diane Smith', 'Charles Abbott', 'Roy Moore', 'Rebecca Garcia',
       'Katherine Wood', 'Susan Taylor', 'Tracy Freeman',
       'William Cameron', 'Paul Ramirez', 'Daniel Figueroa',
       'Lori Thompson', 'Mark Carroll', 'Michael Byrd', 'Danielle Rice',
       'Shannon Carter', 'Jordan Thompson', 'Joshua Craig',
       'Angela Anderson', 'Alexis Lee', 'Scott Jackson', 'Erin Marquez',
       'Matthew Sanchez', 'Joseph Hill', 'James Swanson', 'Ashlee Clark',
       'Cody Long', 'Brandon James', 'Amanda Lopez', 'Amanda Edwards',
       'Joshua Parker', 'Randy Medina', 'Brandon Miller',
       'Jessica Preston', 'Richard Collins', 'Ryan King', 'Rachel Gay',
       'William Kim', 'Yesenia Lee', 'Catherine Moon MD',
       'Jeffrey Alexander', 'David Carter', 'Charles Graves MD',
       'Lee Hubbard', 'Elizabeth Ross', 'Amanda Rogers', 'Susan Jimenez',
       'Emily Orr', 'Patricia Hernandez', 'Stephen Murphy',
       'Andrew Wiggins', 'Christie Rogers', 'Marissa Jones',
       'Jackson Hicks', 'Judy Cunningham', 'Mrs. Krystal Wiggins',
       'Tara Wheeler', 'Leroy Kim', 'Elizabeth Olson', 'Kaitlyn Phelps',
       'Sarah Berg', 'Gail Anderson', 'Thomas Murphy', 'Marc Collins',
       'Caleb Morton', 'Chad Johnson', 'Paul Grant', 'Mary Lee',
       'Christopher Brewer', 'Kimberly Thomas', 'Randall Johnson',
       'Elizabeth Nguyen', 'Allison Archer', 'Darrell Rojas',
       'Misty Moore', 'Roger Hicks', 'Kristi Perez', 'Logan Anderson',
       'Gary Johnson', 'Daryl Walker', 'Steve Wilson', 'Carolyn Thompson',
       'Dr. James Bentley', 'Theresa Kelley', 'Thomas Ruiz',
       'Robert Booth', 'Kellie Moore', 'Tina Parker', 'Nicole May',
       'Juan Dean', 'Stephanie Schneider', 'Melissa Carlson',
       'David Graves', 'Joseph Gibbs', 'Jo White', 'Timothy Keller',
       'Connor Roberts', 'Kevin Wolf', 'Diana Washington', 'Earl Mills',
       'Shane Mueller', 'Clifford Richards', 'Steven Jordan',
       'Victoria Cox', 'Scott Parks', 'Lisa Stone', 'Angela Thornton',
       'George Cardenas', 'Anthony Marshall', 'Barbara Bennett',
       'Maria Anderson', 'Robert Davis', 'Lindsey Sanders',
       'Taylor Miller', 'Courtney Rodriguez', 'Tyrone Moody',
       'Ryan Davis', 'Paul Matthews', 'Michael Simpson',
       'Benjamin Robinson', 'John Scott', 'Ronald Warren',
       'Cynthia Johnson', 'Robert Clark', 'Chad Bush', 'Sharon Jackson',
       'Linda Mitchell', 'Stephanie Frank', 'Joshua Skinner',
       'Kimberly Welch', 'Robert Fisher', 'Gregory Smith', 'David Hardy',
       'Rebecca Carter', 'Alicia Smith', 'Heather Melendez',
       'Sarah Avila', 'Matthew Merritt', 'Michele Nguyen', 'Eric Mcmahon',
       'Jennifer Gray', 'Bryan Wu', 'Luis Turner', 'Sophia Lawrence',
       'James Hayes', 'Reginald Torres', 'Deborah Livingston',
       'Brenda Banks', 'Brandy Hendricks', 'Anna Garcia', 'Sean Clements',
       'Brent Brown', 'Jesse Williams', 'John Blackburn',
       'Katherine Yates', 'Stephanie Miller', 'Alexander Sutton',
       'Sarah Holmes', 'Mary Pham', 'Andrea Jones', 'Scott Montgomery',
       'William Guzman', 'Nicholas Hopkins', 'Todd May', 'Steve White',
       'George Johnson', 'Richard Rodriguez', 'Mark Bauer', 'Lisa Davis',
       'Crystal Stanton', 'Kathleen Owens', 'Kathryn Mendoza',
       'Raymond Johnson', 'Katherine Rowland', 'Jill Moore',
       'Paul Harmon', 'Cindy Cain', 'Marc Greene', 'Thomas Jackson',
       'David Thomas', 'Caroline Parks', 'Jordan Kline', 'Kyle Miranda',
       'Jordan Caldwell', 'Diana Snow', 'Mary Bradley', 'Frank Lynch',
       'Alexandra Mclaughlin', 'Charles Long', 'Michael Mendez',
       'Christopher Adams', 'Renee Hunter', 'Andrea Smith',
       'Emily Delgado', 'Justin Thompson', 'James Hodges', 'David Wise',
       'Adam Roberson', 'Angela Ortiz', 'Robert Hess', 'Justin Figueroa',
       'Patricia Jordan', 'Cassandra Vaughan', 'Jason Booth',
       'Keith Robertson', 'Alicia Garcia', 'Jessica Mcdowell',
       'Michelle Freeman', 'Ashley Torres', 'Dawn Mercado',
       'Ashley Hudson', 'Brooke Boyd', 'Victor Thompson', 'Rhonda Jones',
       'Donna Curtis', 'Virginia Harrison', 'Kelly Carlson',
       'Amber Johnson', 'Joe Larson', 'Aaron Osborne', 'Kara Chapman',
       'Shane Brewer', 'Michelle Hernandez', 'Timothy Grant',
       'Michelle Cook', 'Joy Sullivan', 'Annette Martin', 'Thomas Morris',
       'Virginia Daniel', 'Beth Hines', 'Kevin Smith', 'Jonathan Cross',
       'Kevin Gates', 'Stephen Poole', 'Christine Winters',
       'Anthony Tyler', 'Brandi Garcia', 'Kenneth Cunningham',
       'Amber Jones', 'Michael Ross', 'Seth Hubbard Jr.', 'Jose Clarke',
       'Julie Douglas', 'Wesley Thomas', 'Mackenzie Matthews',
       'Stephanie Pham', 'Mrs. Jessica Martinez', 'Ralph Lawrence',
       'Ashley Manning', 'Thomas Gonzalez', 'Jennifer Spencer',
       'Robert Valdez', 'Scott Hines', 'Robert Ashley', 'Jonathon Liu',
       'James Wright', 'Matthew Jones', 'Casey Brown', 'Kathryn Barajas',
       'Thomas Gibbs', 'Jose Frazier', 'Jennifer Hunt',
       'Kathleen Delacruz', 'Alicia Reid', 'Nicole Jones',
       'Nathan Escobar', 'Sarah Vaughn', 'Matthew Smith', 'Bryan Robles',
       'Rachel Monroe', 'David Massey', 'Sean Schmitt', 'James Dougherty',
       'William Allen', 'Bobby Allen', 'Alexandra Baker', 'Brian Brown',
       'Donna Anderson', 'Sara Lee', 'Mr. Terry Johnson',
       'Juan Patterson', 'Christina Cuevas', 'Mark Anderson',
       'David Barron', 'Jason Young', 'Kelly Bruce', 'Justin Walker',
       'Madison Diaz', 'Christopher Wang', 'Marie Wagner', 'Brad Mccall',
       'Caitlin Ross', 'Tiffany Tyler', 'Jennifer Skinner', 'David Buck',
       'Amy Gibbs', 'Pamela Dennis', 'Cheryl Winters', 'Michael Mitchell',
       'Jonathan Schwartz', 'Joyce Orozco', 'Kathryn Bradshaw',
       'Cassandra Ford', 'Thomas Walsh', 'Evelyn Mendoza', 'Joel Roy',
       'Diane Thomas', 'Malik Ingram', 'Beverly Moore', 'Aaron Anderson',
       'Jeffery Bartlett', 'Amanda Page', 'Briana Christensen',
       'Justin Sampson', 'Jenna Underwood', 'Erica Morgan',
       'Veronica Welch', 'Jill Long', 'Jose Berry', 'Jacob Jackson',
       'Mariah Huff', 'Stacey Turner', 'Melissa Kirby', 'Valerie Jones',
       'Sandra Porter', 'Austin Payne', 'Rickey Blankenship',
       'Adam Mills', 'Doris Harmon PhD', 'Jessica Kirk', 'Melissa Moreno',
       'Joshua Martinez', 'David Davis', 'David Jones',
       'Kathleen Rodriguez', 'Richard Miller', 'Robert Rodriguez',
       'Richard James', 'Justin Jones', 'Terry Webb', 'Heidi Clayton',
       'Jeffrey Short', 'Carol Parks', 'Alec Campbell', 'Warren Smith',
       'Laurie Lewis', 'John Vasquez', 'Robert Woods', 'Melissa Potter',
       'Dennis Rodriguez', 'Rita Bowman', 'Kaitlyn Richardson',
       'Adam Price', 'Jason Olson', 'Ariana Bowers', 'Crystal Bailey',
       'Christopher Hernandez', 'Nicholas Gonzalez', 'Richard Morales',
       'Michael Ward', 'Sherri Thomas', 'Trevor Branch',
       'Jonathan Ramirez', 'Monica Hamilton', 'John Phelps',
       'Patrick Newton', 'Miss Elizabeth Brooks', 'Justin Davis',
       'Jessica Sims', 'Justin Sellers', 'Yolanda Richmond',
       'Nicholas Smith', 'Robert Stewart', 'Patrick Wagner MD',
       'Phillip Adams', 'Jacob Gallegos', 'Meagan Brown', 'Robert King',
       'Patricia Golden', 'Karen Baker', 'Victor Kelly',
       'Christina Harding', 'Sharon Lindsey', 'Wanda Vaughn',
       'Jordan Barker', 'Albert Lucero', 'Julian Roberson',
       'Dr. Morgan Hall MD', 'Daniel Sanders', 'Kristin Garcia',
       'Michael Gallagher', 'Jordan Johnson', 'Adam Melton',
       'Donald Hall', 'Amy Hernandez', 'David Brewer', 'Frederick Carter',
       'Melinda Scott', 'Jesse Morris', 'Jordan Durham',
       'Dr. Frederick Alexander', 'Alison Allen', 'Jason Graham',
       'Austin Snyder', 'Ashlee Moore', 'Matthew Todd', 'Juan Glenn',
       'Chad Trujillo', 'Amy Beasley', 'Christopher Klein',
       'Jessica Jackson', 'Joseph Wang', 'Tony Rogers', 'Paul Wells Jr.',
       'Shelia Warren', 'Jasmin Huber', 'Amber Lloyd', 'Casey Richards',
       'Dennis Perry', 'Anna Martin', 'Debbie Johnson', 'Anthony Snyder',
       'Tracy Rodriguez', 'Anthony Brown', 'Michelle Campbell',
       'William Rojas', 'Rebecca Morris', 'Mark Hart', 'Daniel Smith',
       'Brian Clark', 'Colleen Stone', 'Jamie Lambert', 'Robert Mitchell',
       'Paul Moore', 'Mary Whitehead', 'Glenda Schmidt', 'John West',
       'Claire Moore', 'David Sanchez', 'James Quinn', 'Tanya Cole DDS',
       'Kevin Vasquez', 'Theresa Jordan', 'Heather Cross',
       'Linda Spencer', 'Jason Clark', 'Hannah Bradley',
       'Gregory Schmidt', 'Douglas Huffman', 'Chelsea Cole',
       'Kevin Silva', 'Anthony Avila', 'Thomas Brennan', 'Courtney Evans',
       'Justin Ray', 'Bryan Wagner', 'Timothy Herring',
       'Christopher Wood', 'Shawn Martinez', 'Charles Pitts',
       'Ronald Chambers', 'Adrian Yates', 'Amber Jackson',
       'Cheryl Jackson', 'Billy Allen', 'Robert Walker', 'Melvin Jordan',
       'Kristin Smith', 'Cynthia Palmer', 'Carla Underwood',
       'Tony Hendricks', 'Crystal Salazar', 'Rebecca Roberts',
       'Kendra Morgan', 'Charles Bennett', 'Brian Rodriguez',
       'Stephanie Richards', 'Brandon Robinson', 'Eric Gay',
       'Taylor Branch', 'Mr. Derek Obrien', 'Sandra Salas',
       'Lucas Mendoza', 'Amanda Murray', 'Grace Scott', 'Kyle Miller',
       'Brianna Bowen', 'Leslie Harris', 'Emily Davis',
       'Rebecca Williams', 'Jasmine Day', 'Brenda Rodriguez',
       'Mr. Anthony Harvey', 'Christy Roberts', 'Laura Butler',
       'Jeffrey Humphrey', 'Richard Giles', 'James Gonzalez',
       'Mrs. Cathy Leon MD', 'Patrick Wolf', 'Nicole Mcdonald',
       'Daniel Brown', 'Isaac Ware', 'Alicia Perkins', 'David Hill',
       'Mindy Ramos', 'Scott Proctor', 'Justin Nunez', 'Summer Griffith',
       'Michael Thompson', 'Erika Flores', 'Dr. Kimberly Lawson',
       'Savannah Rodriguez', 'Adam Vincent', 'Ricardo Martinez',
       'Debra Mcgee', 'Christopher Ramsey', 'Jose Jackson', 'Joel Greene',
       'Maria Lee', 'William Gibbs', 'Jasmine Gonzalez', 'Jillian Castro',
       'Louis Ferguson', 'James Herring', 'Kelsey Parker',
       'Jennifer Walton', 'Tammie Jenkins', 'Debbie Nicholson',
       'Tiffany Berger', 'Michelle Davis', 'Jordan Walker',
       'Jessica Walters', 'Timothy Stewart', 'Carla Thompson',
       'Chelsea Wood', 'Carrie Kelly', 'Heather Young',
       'Margaret Roberts', 'Kristopher Wood', 'Kristina Stanton',
       'Melissa Clay', 'Thomas Browning', 'Ian Larson', 'Daniel Poole',
       'Lauren Santos', 'Matthew Ortiz', 'Keith Smith', 'Daniel Arellano',
       'Joe Lopez', 'Destiny Jones', 'Stacy Dominguez', 'Michael Mccoy',
       'Rebecca Macias', 'Derek Olson', 'Jesse Long', 'Susan Hardy',
       'Julie Cabrera', 'Colin Nunez', 'Ross Myers', 'Sierra Cole',
       'Robert Lane', 'Kristy Hernandez', 'Jesus Lopez', 'Harold Keller',
       'Timothy Jones', 'Kevin Porter', 'Sarah Moss', 'Jeffrey Lara',
       'Jennifer Shaffer', 'Tracey Park', 'Wendy Rodriguez',
       'Jessica Aguilar', 'Brian Chapman', 'Michael Gilbert',
       'Sarah Sims', 'Amanda Scott', 'Juan Clarke', 'Joshua Brady',
       'Michelle Smith', 'Jeff Robinson', 'Brandi Moon', 'Sean Harrison',
       'Colleen Collins', 'Lauren Schultz', 'Kurt Blair', 'Michael Doyle',
       'Wendy Bennett', 'William Moore', 'Jessica Moreno', 'Laura Pratt',
       'Shannon Phillips', 'Gregory Smith PhD', 'Crystal Hall',
       'Dr. Derrick Morris', 'Christine Taylor', 'Kari Johnson',
       'Mark Phelps', 'Jerry Hayden', 'Judith Smith', 'David Armstrong',
       'Melinda Bowman', 'Megan Boyd', 'Megan Leblanc', 'Marie Collins',
       'Jason Williams', 'Joshua Jackson', 'Thomas Smith',
       'Alexandra Lopez', 'Julia Sims', 'Samuel Green',
       'Alexandra Martin', 'Juan Grant', 'Cassandra Garcia',
       'Christina Mills', 'Lori Williamson', 'Kyle Walker', 'Edward King',
       'Jamie Andrade', 'Antonio James', 'Andrew Miller', 'Peter Howard',
       'Dylan Jackson', 'Rebecca Johnson', 'Brittany Huff',
       'Holly Cunningham', 'Ronnie Best', 'Brenda Kennedy',
       'Mary Chapman', 'Gabriel Gonzalez', 'Adam Cruz', 'Erin Owens',
       'Alexandria Thompson', 'Donald Rosario', 'Doris Hill',
       'Tanya Ruiz', 'Willie Knight', 'Aaron Sosa', 'Nicole Turner',
       'Victoria Graham', 'Randall Burton', 'Carrie Olson',
       'Christopher Moss', 'Justin Edwards', 'Joseph Kirby',
       'Laura Mooney', 'Debra Cook', 'William Anthony',
       'Danielle Contreras', 'Jesse Rodriguez', 'Daniel Chapman',
       'Jon Johnson', 'Michael Hall', 'Laura Braun', 'Ashley Harris',
       'Christopher Miller', 'Christopher Burgess', 'James Harris',
       'Danielle Palmer', 'Robert Juarez', 'Sara Smith', 'Zachary Norris',
       'Chelsea Estrada', 'Elizabeth Delgado', 'Sara Harris',
       'Marcus Gregory', 'Anthony Pitts', 'Travis Gill', 'Morgan Ellis',
       'Larry Green', 'Becky Martin', 'Kathy Buckley'], dtype=object)

In [53]:
messdata

,Name,Age,Gender,City,Salary,Date,Phone,Marks,Passed
0,Deborah Anderson,200,Male,Mumbai,82481,2021-04-16,NaN,30.0,NaN
1,NaN,16,Male,Bhopal,50k,2024-01-09,NaN,-20.0,Yes
2,James Liu,twenty,Female,Delhi,90438,2023-02-10,651-509-7684x87571,150.0,True
3,Aaron Ford,200,NaN,Bhopal,-inf,2024-11-07,0002108269,-20.0,Yes
4,Andrea Mercer,0,NaN,Nagpur,62322,2023-08-05,0006512234,NaN,No
...,...,...,...,...,...,...,...,...,...
1015,Robert Gibbs,19,Female,Bhopal,32982,2021-08-29,0005006861,NaN,True
1016,Steven Peck,200,Male,Nagpur,inf,2021-07-16,NaN,NaN,Yes
1017,Steve Munoz,twenty,NaN,Bhopal,-inf,32-13-2020,NaN,45.0,False
1018,Zoe Black,NaN,F,NaN,69566,2023-11-29,NaN,NaN,False
1019,Benjamin West,NaN,Male,NaN,NaN,2023-10-14,NaN,92.0,NaN

In [54]:
messdata.dtypes

Name       object
Age        object
Gender     object
City       object
Salary     object
Date       object
Phone      object
Marks     float64
Passed     object
dtype: object

In [55]:
messdata['Age'].fillna(0,inplace=True)

/tmp/ipython-input-3655770196.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  messdata['Age'].fillna(0,inplace=True)

In [58]:
print("hello world")

hello world